groq
streamlit
pandas>=1.5.0
numpy>=1.21.0
scikit-learn>=1.0.0
torch>=1.13.0
rdkit
joblib>=1.0.0
reportlab
gtts
plotly
meeko
langchain-openai==0.3.12
langchain==0.3.23
python-dotenv==1.1.0
py3Dmol
stmol
google-cloud-vision
transformers
biopython
